{% extends "account/base.html" %}

{% block header %}
   {% include "account/header.html" %}
{% endblock header %}


{% block content %}  
  


   <div>
    <div class="text-end web-notification">
             <div>
                {% for msg in messages %}
                   {% if msg %}
                   <div class="web-notification-1">
                      <span class="">
                        {{ msg }}
                      </span>
                   </div>
                   {% endif %}
                {% endfor %}
             </div>
    </div>
   </div>
  <div class="mt-5 pb-5 mb-5">
     <div>
        <div>
              {% include "common/change_password_form.html" %}
        </div>
     </div>
  </div>


  
 

{% endblock content %}


{% block footer %}
  {% include "account/footer.html" %}
{% endblock footer %}


