{% extends "account/base.html" %}

{% block header %}
   {% include "account/header.html" %}
{% endblock header %}

{% block content %}  
  
  <div>
    <div class="mt-5 mb-5 ">
        <div class="center w-50 m-auto bg-login">
            <form method="post" class="card p-3">
                {% csrf_token %}
                <h2 class="text-center text-danger">Reset Password Done</h2>
                <div class="">
                    {% comment %} <h2>Reset Password</h2> {% endcomment %}
                    <p>Your password has been changed successfully. Please <a href="">Login</a></p>
                </div>
                {% comment %} <div class="form-buttons mt-2">
                    <input type="submit" value="Send" class="btn btn-sm btn-primary">
                    <button class="btn btn-sm btn-danger"><a href=""  class="">Cancel</a></button>
                </div> {% endcomment %}
            </form>
        </div>
    </div>
  </div>

{% endblock content %}

{% block footer %}
     {% include "account/footer.html" %}
{% endblock footer %}
