{% extends "account/base.html" %}

{% block header %}
   {% include "account/header.html" %}
{% endblock header %}

{% block content %}  
  
  <div>
    <div class="mt-5 mb-5 ">
        <div class="center w-50 m-auto bg-login">
            <form method="post" class="m-3 p-3">
                {% csrf_token %}
                <h2 class="text-danger">Password Reset Confirm</h2>
                
                {% for field in form %}
                          {{ field.label_tag }} 
                          {{ field }}
                          {% if field.errors %}
                              <small>{{ field.errors|striptags  }}</small> 
                          {% endif %}
                  {% endfor %}
                
                
                <div>
                  <button type="submit" class="btn btn-sm btn-primary">Reset Password</button>
                </div>
              </form>
        </div>
    </div>
  </div>

{% endblock content %}

{% block footer %}
     {% include "account/footer.html" %}
{% endblock footer %}
