{% extends "account/base.html" %}

{% block header %}
   {% include "account/header.html" %}
{% endblock header %}

{% block content %}  
  
  <div >
    <div class="mt-5 mb-5 ">

        <div class="center w-50 m-auto bg-login">
            <h2 class="text-center text-danger pt-3">Reset Password</h2>
            <form action="" method="POST" class="p-3">
                {% csrf_token %}
                
                {% comment %} <div class="form-control mt-3 mb-2"> {% endcomment %}
                    {{form}}
                {% comment %} </div> {% endcomment %}
                <div class="form-buttons mt-2">
                    <input type="submit" value="Send" class="btn btn-sm btn-primary">
                    {% comment %} <button class="btn btn-sm btn-danger"><a href=""  class="">Cancel</a></button> {% endcomment %}
                </div>
            </form>
        </div>
    </div>
  </div>

{% endblock content %}

{% block footer %}
     {% include "account/footer.html" %}
{% endblock footer %}
