{% extends "account/base.html" %}

{% block header %}
   {% include "account/header.html" %}
{% endblock header %}


{% block content %}  

<!-- banner header -->
<section>
    <div>
       <div class="">
          <img class="w-100 banner" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs9fHptrP7I24jNToSlf3xJGeehxnHHTwrXg&usqp=CAU" alt="">
       </div>
    </div>
</section>

<!-- news and teacher article -->
<div>
    <div>
        <div>
            <div class="pt-3">
                <h2 class="text-center">Teacher Article</h2>
            </div>
            <div class="row pt-4 wg m-auto">
                <div class="col-sm-12 col-lg-8 col-md-8 px-2 py-2">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis vel sequi repellendus velit laborum odit, commodi debitis alias molestias assumenda numquam quae accusamus dignissimos adipisci, error porro sed accusantium iure.</p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <img class="bg-login" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCBuMi4ifyYnJ0CfAbO2FvRoEbyAKEiVSbZw&usqp=CAU" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block footer %}
  {% include "account/footer.html" %}
{% endblock footer %}





